.side-bar
  .side-bar__name
    .side-bar__name__user-box
      %p.side-bar__name__user-box__inf
        中尾翔
      %ul.side-bar__name__user-box__icons
        %li.side-bar__name__user-box__icons__new
          = link_to "#" do
            = icon('fas','edit')
        %li.side-bar__name__user-box__icons__edit
          = link_to "#" do
            = icon('fas','cog')
  .side-bar__groups
    .side-bar__groups__group
      %p.side-bar__groups__group__name
        aaaaa
      %p.side-bar__groups__group__message
        まだメッセージがありません
    .side-bar__groups__group
      %p.side-bar__groups__group__name
        aaaaa
      %p.side-bar__groups__group__message
        まだメッセージがありません